# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/guac

# Make sure cmd/guac directory is not ignored
!cmd/guac/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Dependency directories
vendor/

# IDE directories
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Certificate files
certs/prod/

# Build directory
dist/


# remove openssl certs
certs/*.key
certs/*.crt